body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 245, 230);
    font-style: italic;
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(224, 141, 15);
    transition: background-color 2s;
}

nav:hover {
    background-color: red; 
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(7, 246, 19);
}


img{
    width:45vw;
    height: 45vh;
}

#purple-ball{
    background-color: rgb(193, 5, 235);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
    transition: left 0.5s, top 0.5s;
    animation: bounce 2s infinite; 
}

@keyframes bounce {
    35%, 150% {
        top: 20;
    }
    50% {
        top: 50vh;
    }
}